h2{
	text-align: center;
}
h1{

text-align: center;
}
section{
	text-align:  center;
	height: 75%;
	width: 82em;
	padding-top: 35px; 
}
.ii{
	text-align: center;
	width: 100%;
}
.ij{
	text-align: center;
	color: blue;
}
.p{
	display: block;
	margin-block-start: -47px;
	margin-block-end: -10;
}
.o{
	margin-bottom: 15px;
	margin-top: 45px;
	text-align: center;
}
.po{
	text-align: center;
}
.op{
	text-decoration: underline;
}
.l{
	text-align: center;
}

.gode{
	width: 20%;
	padding-left: 830px;
}
.fv{
	text-align: center;
}
.fra{margin-block-end: 20px;
	margin-block-start: -160px;
	padding-block-start: 0px;
	padding-block-end: 6px;
}
.img{
	padding-left: 984px;
}
.ses{

	margin-block-start: -37px;
	padding-block-start: 0px;
	padding-block-end:6px;
}